# Delete

We are going to see how to delete one or multiple rows of a table based on some filtering criteria

## Imports

In [1]:
import psycopg2
import numpy as np
#import a folder in the parent directory
import sys
sys.path.append('../')
import queries.queries as qrs
from pathlib import Path
import tifffile as tiff

## Connection

In [ ]:
try:
    # Connect to the PostgreSQL database
    conn = qrs.connect()
    print("Connected to the database")

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connected to the database

## Loading the table from where we want to delete to check

In [ ]:
table_name = 'measurement_registrations'

data = qrs.get_data(table_name)

data

,id_measurement_registration,reference_measurement_id_measurement_registration,registered_measurement_id_measurement_registration,registration_matrix_measurement_registration,description_measurement_registration
0,9,3,41,[[ 9.99924865e-01 -1.22582733e-02 -7.75030259e...,2024 registration methodology.
1,10,4,40,[[ 9.99942355e-01 -1.07371711e-02 -8.56068249e...,2024 registration methodology.
2,11,5,39,[[ 9.99929001e-01 1.19160759e-02 -7.57121417e...,2024 registration methodology.
3,12,6,38,[[ 9.99614862e-01 2.77511853e-02 -8.27453911e...,2024 registration methodology.
4,13,9,36,[[ 9.99999836e-01 5.71918694e-04 -7.07222883e...,2024 registration methodology.
5,14,10,35,[[ 9.99834752e-01 -1.81788137e-02 -7.13246333e...,2024 registration methodology.
6,15,11,34,[[ 9.99988993e-01 -4.69184701e-03 -7.42069850e...,2024 registration methodology.
7,18,44,41,[[ 9.99623910e-01 2.74233108e-02 -8.92350769e...,2024 registration methodology.
8,19,45,40,[[ 9.99686528e-01 -2.50368719e-02 -1.01711073e...,2024 registration methodology.
9,20,46,39,[[ 9.99487522e-01 -3.20108440e-02 -9.00707007e...,2024 registration methodology.
10,21,47,38,[[ 9.99135573e-01 -4.15705064e-02 -8.75997572e...,2024 registration methodology.
11,22,48,36,[[ 9.99780382e-01 -2.09568275e-02 -9.91982434e...,2024 registration methodology.
12,23,49,35,[[ 9.99834752e-01 -1.81788137e-02 -8.73947045e...,2024 registration methodology.
13,24,50,34,[[ 9.99977100e-01 6.76748924e-03 -6.46075707e...,2024 registration methodology.

## Filtering to decide what to delte

We want to delete all the measurements with the metadata key signal_type_measurement as amplitude.

In [5]:
filtered_data = data[data['id_measurement_registration']>15]

filtered_data

,id_measurement_registration,reference_measurement_id_measurement_registration,registered_measurement_id_measurement_registration,registration_matrix_measurement_registration,description_measurement_registration
7,16,44,41,[[ 9.99623910e-01 2.74233108e-02 -8.92350769e...,None
8,17,45,40,[[ 9.99686528e-01 -2.50368719e-02 -1.01711073e...,None

## Deleting query

Now that we have only the rows that meet our deleting conditions, we can delete the measurements and their metadata with their ids

In [7]:
indexes = filtered_data['id_measurement_registration'].values.tolist() #get the indexes to delete

sql = f'delete from {table_name} where {table_name}.id in {tuple(indexes)}'

print(sql)

delete from measurement_registrations where measurement_registrations.id in (16, 17)

In [8]:
# Create a cursor object using the cursor() method
cursor = conn.cursor()

# Execute the SQL statement
cursor.execute(sql)

cursor.execute('COMMIT')

cursor.close()

## Check

If you execute the whole code again and the filtered table is empty, the delete whas succesfull.