# Material Loading

Notebook to load material and panel data into the database. This notebook demonstrates:

1. Creating materials with their properties
2. Creating panels with layer layout configurations 
3. Verifying the data was correctly stored in the database

Note: The `layer_layout` parameter has been moved from the `load_material` function to the `load_panel` function.

## Imports

In [1]:
import psycopg2
from tabulate import tabulate
#import a folder in the parent directory
import sys
sys.path.append('../')
import dbtools.dbtools as qrs
import dbtools.load as load

## Connection

In [2]:
try:
    # Connect to the PostgreSQL database
    conn = qrs.connect()
    print("Connected to the database")

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connected to the database

## Fabrication data

In [3]:
name = 'Prueba 5'

layer_thickness = 0.1

# Define additional metadata
additional_metadata = [
    {'key': 'density', 'value': 1.5, 'type': 'g/cm3'},
    {'key': 'color', 'value': 'blue', 'type': 'string'},
    {'key': 'temperature_resistance', 'value': 250, 'type': 'celsius'}
]

# Load material with additional metadata (layer_layout was moved to panel function)
load.load_material(conn, name, layer_thickness, additional_metadata)

Error loading material: duplicate key value violates unique constraint "unique_materials_name"
DETAIL:  Key (name)=(Prueba 5) already exists.

-1

## Make sure insert was correct

In [4]:
data = qrs.get_data_metadata('materials')

data

,id_material,name_material,layer_thickness_material,layer_layout_material,density_material,color_material,temperature_resistance_material
0,25,Prueba,0.05 float,"[90, 45, 45, 90, -45] list",NaN,NaN,NaN
1,27,Prueba 5,0.1 float,"[90, 45, -45, 90] list",1.5 g/cm3,blue string,250 celsius

In [5]:
conn.close()