# Sample Loading

Notebook to load Sample data into the databse

## Imports

In [8]:
import psycopg2
from tabulate import tabulate
#import a folder in the parent directory
import sys
sys.path.append('../')
import dbtools.dbtools as qrs
import dbtools.load as load

## Connection

In [9]:
try:
    # Connect to the PostgreSQL database
    conn = qrs.connect()
    print("Connected to the database")

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connected to the database

## Panel id search

A panel is made of a material, so the panel table is linked to the material table.

Here we have to check the material table and to set the meterial of the panel.

In [10]:
parent_table_name = 'panels'

parent_id_column = parent_table_name[:-1] + '_id'

parent_data = qrs.get_data(parent_table_name)

parent_data

   id_panel    name_panel  material_id_panel description_panel
0         1  Juan Ignacio                  1              None
1         3        prueba                 15       Descripcion

In [11]:
#we set the id
panel_id = 1

## Sample data

In [5]:
name = 'JI_12'

load.load_sample(conn,'prueba',panel_id,160,40,5,True,True)

Sample 'prueba' loaded with ID: 10

## Make sure insert was correct

In [6]:
data = qrs.get_data_metadata('samples')

data

,id_sample,name_sample,panel_id_sample,geometry_type_sample,height_sample,width_sample,thickness_sample,keyhole_sample,parallel_faces_sample
0,1,JI_4,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean,NaN
1,2,JI_5,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean,NaN
2,3,JI_7,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean,NaN
3,4,JI_8,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean,NaN
4,5,JI_9,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean,NaN
5,6,JI_10,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean,NaN
6,7,JI_11,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean,NaN
7,8,JI_12,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean,NaN
8,10,prueba,3,NaN,160 mm,40 mm,5 mm,True bool,True bool

In [7]:
conn.close()