# Datasettype Loading

Notebook to load Datasettype and panel data into the database. This notebook demonstrates:

1. Creating Datasettypes with their properties
2. Creating panels with layer layout configurations 
3. Verifying the data was correctly stored in the database

## Imports

In [6]:
import psycopg2
from tabulate import tabulate
#import a folder in the parent directory
import sys
sys.path.append('../')
import dbtools.dbtools as qrs
import dbtools.load as load

## Connection

In [7]:
try:
    # Connect to the PostgreSQL database
    conn = qrs.connect()
    print("Connected to the database")

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connected to the database

## Datasetype data

compulsory data
- description: A textual description of the dataset type (e.g., "Raw XCT volumetric data", "Pores segmented with Otsu - no filtering", "UT C-scan amplitude map", "Training set for defect classification").

In [8]:
description = '2024 Dataset Type. ' \
'Material mask computed using otsu.' \
'Onlypores computed using otsu. ' \
'Patching without padding, cropping the images to a size divisible by the patch size.' \
'Patches with less than 80% of the material are discarded.' \
'Rows are in this format: ' \
'- Last column is the areafrac: To compute this value, the  3D patch is projected in Z to 2D and the pore are is divided by the material area' \
'- Second last column is the volfrac: The pore volume is divided by the total volume of the patch' \
'In both division a epislon of 1e-6 is added to avoid division by zero.'


load.load_datasettype(conn,description)

Dataset type loaded with ID: 4

4

## Make sure insert was correct

In [9]:
data = qrs.get_data('datasettypes')

data

   id_datasettype                            description_datasettype
0               3  2025 Dataset Type. Material mask computed usin...
1               4  2024 Dataset Type. Material mask computed usin...

In [10]:
conn.close()