# datasettype Loading

Notebook to load datasettype data into the databse

## Imports

In [1]:
import psycopg2
from tabulate import tabulate
#import a folder in the parent directory
import sys
sys.path.append('../')
import dbtools.dbtools as qrs

## Connection

In [2]:
try:
    # Connect to the PostgreSQL database
    conn = qrs.connect()
    print("Connected to the database")

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connected to the database

## Fabrication data

We have to add the parameters of the datasettype.

The name is a compulsory parameter, it has to be always filled.

In [3]:
#compulsory parameters

description = ''

main_parameters = {'description':description}

## Load into the table

In [4]:
print('Parameters to be inserted: ')
for key, value in main_parameters.items():
    print(f"    -- {key}: {value}")

Parameters to be inserted:
    -- description:

In [ ]:
table_name = 'datasettypes'

# Extract column names and values from the attributes dictionary
columns = ', '.join(main_parameters.keys())
values = ', '.join([f"'{v}'" for v in main_parameters.values()])

# Construct the SQL INSERT statement
sql = f"INSERT INTO {table_name} ({columns}) VALUES ({values})"

print(sql)

# Create a cursor object using the cursor() method
cursor = conn.cursor()

# Execute the SQL statement
cursor.execute(sql)

cursor.execute('COMMIT')

cursor.close()

INSERT INTO materials (name) VALUES ('Juan Ignacio')

## Make sure insert was correct

In [6]:
data = qrs.get_data(table_name)

data

   id_datasettype                            description_datasettype
0               1  Only pores segmented with otsu, and without pr...