# Get a table and its metadata information linked

## imports

In [1]:
import psycopg2
import numpy as np
#import a folder in the parent directory
import sys
sys.path.append('../')
import dbtools.dbtools as qrs
from pathlib import Path
import tifffile as tiff
import os
from tqdm import tqdm

## Connection

In [2]:
try:
    # Connect to the PostgreSQL database
    conn = qrs.connect()
    print("Connected to the database")

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connected to the database

## Table info

In [3]:
table_name = 'registrations'

In [4]:
data = qrs.get_data_metadata(table_name)

data

,id_registration,reference_measurement_id_registration,registered_measurement_id_registration,registration_matrix_registration,type_registration,axes_registration
0,26,94,107,"[[0.9997319637593441, -0.023151687581795338, -...","Alberto 2024 registration method, UTvsXCTPrepr...","['x', 'y'] list"
1,27,95,110,"[[0.9597760200663129, -0.28076679167178553, -5...","Alberto 2024 registration method, UTvsXCTPrepr...","['x', 'y'] list"
2,28,96,122,"[[0.99980622563045, -0.0196853039243301, -741....","Alberto 2024 registration method, UTvsXCTPrepr...","['x', 'y'] list"
3,29,97,121,"[[0.9998035542391035, -0.019820517926008842, -...","Alberto 2024 registration method, UTvsXCTPrepr...","['x', 'y'] list"
4,30,98,116,"[[0.99999983645449, 0.0005719186939974105, -70...","Alberto 2024 registration method, UTvsXCTPrepr...","['x', 'y'] list"
5,31,99,118,"[[0.9997074109227703, -0.024188686324224284, -...","Alberto 2024 registration method, UTvsXCTPrepr...","['x', 'y'] list"
6,32,100,120,"[[0.999931963989553, -0.011664792839800363, -7...","Alberto 2024 registration method, UTvsXCTPrepr...","['x', 'y'] list"