# Get a table and its parent information linked

## imports

In [1]:
import psycopg2
import numpy as np
#import a folder in the parent directory
import sys
sys.path.append('../')
import dbtools.dbtools as qrs
from pathlib import Path
import tifffile as tiff
import os
from tqdm import tqdm

## Connection

In [2]:
try:
    # Connect to the PostgreSQL database
    conn = qrs.connect()
    print("Connected to the database")

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connected to the database

## Table info

In [3]:
table_name = 'panels'

parent_table_name = 'materials'

In [4]:
data = qrs.data_parent(table_name, parent_table_name)

data

   id_panel    name_panel  id_material name_material
0         1  Juan Ignacio            1  Juan Ignacio