# Get a table and its metadata information linked

## imports

In [ ]:
import psycopg2
import numpy as np
#import a folder in the parent directory
import sys
sys.path.append('../')
import dbtools.dbtools as qrs
from pathlib import Path
import tifffile as tiff
import os
from tqdm import tqdm

## Connection

In [2]:
try:
    # Connect to the PostgreSQL database
    conn = qrs.connect()
    print("Connected to the database")

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connected to the database

## Table info

In [3]:
table_name = 'samples'

In [4]:
data = qrs.get_data_metadata(table_name)

data

,id_sample,name_sample,panel_id_sample,geometry_type_sample,height_sample,width_sample,thickness_sample,keyhole_sample
0,1,JI_4,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean
1,2,JI_5,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean
2,3,JI_7,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean
3,4,JI_8,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean
4,5,JI_9,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean
5,6,JI_10,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean
6,7,JI_11,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean
7,8,JI_12,1,parallel nominal,150 mm,40 mm,5 mm,True Boolean