# Get a table and its parent information linked

## imports

In [1]:
import psycopg2
import numpy as np
#import a folder in the parent directory
import sys
sys.path.append('../')
import dbtools.dbtools as qrs
from pathlib import Path
import tifffile as tiff
import os
from tqdm import tqdm

## Connection

In [2]:
try:
    # Connect to the PostgreSQL database
    conn = qrs.connect()
    print("Connected to the database")

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connected to the database

## Table info

In [3]:
table_name = 'panels'

parent_table_name = 'fabrications'

In [4]:
data = qrs.data_parent(table_name, parent_table_name)

data

,id_panel,name_panel,material_id_panel,description_panel,height_panel,width_panel,thickness_panel,edges_cutted_panel,layer_layout_panel,geometry_panel,id_fabrication,name_fabrication,hand_lay_up_fabrication,vacuum_bag_fabrication,autoclave_fabrication,pressure_fabrication,temperature_ramp_fabrication
0,3,Juan_Ignacio_placeholder,15,This is a placeholder because we dont know fro...,1.0 mm,1.0 mm,1.0 mm,True bool,"[-45, 90, 45, 0, -45, 90, 45, 0, 0, 45, 90, -4...",Paralell faces nominal,2,Juan_Ignacio,True boolean,True boolean,False boolean,NaN,NaN
1,4,Pegaso Piramide 7922843,16,The panel features multiple height levels rang...,945.0 mm,1150.0 mm,5.0 mm,True bool,"[45, -45, 90, 0, 45, -45, 0, 90, -45, 45] list",pyramid nominal,3,AIRBUS placeholder,NaN,NaN,NaN,NaN,NaN
2,5,Na_01,16,None,200.0 mm,200.0 mm,5.0 mm,True bool,"[45, -45, 90, 0, 45, -45, 0, 90, -45, 45] list",parallel faces nominal,4,Nacho_simple_cycle_1,True bool,NaN,NaN,1.75 bar,10 °C/min to 180 °C – 2 h dwell – 2.5 °C/min c...
3,6,Na_02,16,None,200.0 mm,200.0 mm,5.0 mm,True bool,"[45, -45, 90, 0, 45, -45, 0, 90, -45, 45] list",parallel faces nominal,5,Nacho_simple_cycle_2,True bool,NaN,NaN,0.75 bar,10 °C/min to 180 °C – 2 h dwell – 2.5 °C/min c...
4,7,Na_03,16,None,200.0 mm,200.0 mm,5.0 mm,False bool,"[45, -45, 90, 0, 45, -45, 0, 90, -45, 45] list",parallel faces nominal,6,Nacho_simple_cycle_3,True bool,NaN,NaN,7 bar,10 °C/min to 180 °C – 2 h dwell – 2.5 °C/min c...
5,8,Na_04,16,None,200.0 mm,200.0 mm,5.0 mm,False bool,"[45, -45, 90, 0, 45, -45, 0, 90, -45, 45] list",parallel faces nominal,7,Nacho_simple_cycle_4,True bool,NaN,NaN,4.5 bar,10 °C/min to 180 °C – 2 h dwell – 2.5 °C/min c...
6,9,Na_05,16,None,200.0 mm,200.0 mm,5.0 mm,True bool,"[45, -45, 90, 0, 45, -45, 0, 90, -45, 45] list",parallel faces nominal,8,Nacho_simple_cycle_5,True bool,NaN,NaN,7 bar,6 °C/min to 180 °C – 2 h dwell – 2.5 °C/min co...
7,10,Name_06,16,None,200.0 mm,200.0 mm,5.0 mm,True bool,"[45, -45, 90, 0, 45, -45, 0, 90, -45, 45] list",parallel faces nominal,9,Nacho_simple_cycle_6,True bool,NaN,NaN,4.5 bar,6 °C/min to 180 °C – 2 h dwell – 2.5 °C/min co...
8,11,Na_07,16,None,200.0 mm,200.0 mm,5.0 mm,True bool,"[45, -45, 90, 0, 45, -45, 0, 90, -45, 45] list",parallel faces nominal,10,Nacho_simple_cycle_7,True bool,NaN,NaN,1.75 bar,6 °C/min to 180 °C – 2 h dwell – 2.5 °C/min co...
9,12,Na_08,16,None,200.0 mm,200.0 mm,5.0 mm,True bool,"[45, -45, 90, 0, 45, -45, 0, 90, -45, 45] list",parallel faces nominal,11,Nacho_simple_cycle_8,True bool,NaN,NaN,7 bar,2 °C/min to 180 °C – 2 h dwell – 2.5 °C/min co...