# Get a table and its parent information linked

## imports

In [9]:
import psycopg2
import numpy as np
#import a folder in the parent directory
import sys
sys.path.append('../')
import dbtools.dbtools as qrs
from pathlib import Path
import tifffile as tiff
import os
from tqdm import tqdm

## Connection

In [10]:
try:
    # Connect to the PostgreSQL database
    conn = qrs.connect()
    print("Connected to the database")

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connected to the database

## Table info

In [11]:
table_1_name = 'samples'

table_2_name = 'measurements'

relation_table_name = 'sample_measurements'

In [12]:
data = qrs.relation_metadata(table_1_name,table_2_name,relation_table_name)

#filer by conditions

# data = data[data['measurementtype_id_measurement'] == 2]

#delete columns that are all NaN
# data = data.dropna(axis=1, how='all')

data

,id_sample,name_sample,description_sample,panel_id_sample,height_sample,width_sample,thickness_sample,keyhole_sample,parallel_faces_sample,id_measurement,...,parent_measurement_id_measurement,measurementtype_id_measurement,height_measurement,width_measurement,depth_measurement,dtype_measurement,file_type_measurement,signal_type_measurement,axes_order_measurement,transformations_measurement
0,10,Prueba,A ver si este se ve,4,160.0 mm,40.0 mm,5.0 mm,True bool,True bool,98,...,NaN,4,505 cardinal,120 cardinal,45 cardinal,uint8 nominal,.tif nominal,RF nominal,"['z', 'y', 'x'] list",NaN
1,10,Prueba,A ver si este se ve,4,160.0 mm,40.0 mm,5.0 mm,True bool,True bool,99,...,98.0,4,505 cardinal,120 cardinal,45 cardinal,uint8 nominal,.tif nominal,RF nominal,"['z', 'y', 'x'] list",Hillbert Transform applied text