# Get a table and its metadata information linked

## imports

In [1]:
import psycopg2
import numpy as np
#import a folder in the parent directory
import sys
sys.path.append('../')
import dbtools.dbtools as qrs
from pathlib import Path
import tifffile as tiff
import os
from tqdm import tqdm

## Connection

In [2]:
try:
    # Connect to the PostgreSQL database
    conn = qrs.connect()
    print("Connected to the database")

except (Exception, psycopg2.DatabaseError) as error:
    print(error)

Connected to the database

## Table info

In [3]:
table_name = 'measurements'

In [4]:
data = qrs.get_data_metadata(table_name)

data.head()

,id_measurement,file_path_measurement,parent_measurement_id_measurement,measurementtype_id_measurement,height_measurement,width_measurement,depth_measurement,dtype_measurement,file_type_measurement,signal_type_measurement,axes_order_measurement,transformations_measurement,aligned_measurement,equalized_measurement
0,98,\\192.168.10.106\imdea\DataDriven_UT_AlbertoVi...,NaN,4,505 cardinal,120 cardinal,45 cardinal,uint8 nominal,.tif nominal,RF nominal,"['z', 'y', 'x'] list",NaN,NaN,NaN
1,99,\\192.168.10.106\imdea\DataDriven_UT_AlbertoVi...,98.0,4,505 cardinal,120 cardinal,45 cardinal,uint8 nominal,.tif nominal,RF nominal,"['z', 'y', 'x'] list",Hillbert Transform applied text,NaN,NaN
2,101,\\192.168.10.106\imdea\DataDriven_UT_AlbertoVi...,NaN,2,3226 cardinal,1734 cardinal,1003 cardinal,uint8 string,folder string,NaN,"['x', 'y', 'z'] list",NaN,False boolean,True boolean